html *{
    margin: 0;
    padding: 0;
}

iframe{
    border: 0;
}

#header{
    width: 95%;
    height: 140px;
    padding: 1% 2.3%;
}

#footer{
    width: 95.5%;
    height: 200px;
    padding: 2%;
    background: #000;
}

#main{
    width: 50%;
    height: 600px;
}

#left, #right{
    width: 24%;
    height: 600px;
}

/*#right{*/
    /*float: right;*/
/*}*/
