body {
    font: 16px arial, sans-serif;
}

table {
    width: 32%;
}

thead td {
    font: bold 225% arial, sans-serif;
}

tbody td {
    padding: 5px;
    font: 120% arial, sans-serif;
}

h4 {
    margin: 0;
    padding: 10% 0 2% 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    padding-top: 15%;
    min-width: 100%;
}