html * {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    width: 96%;
    height: 225px;
    margin: 0 auto;
    padding: 2%;
    background: #234465;
    font: 13px Tahoma, Arial, sans-serif;
}

section {
    display: inline-block;
    width: 15%;
    height: 230px;
    margin: 0 .4%;
    padding: .5%;
    background: transparent;
    vertical-align: top;
}

li, h4, p, form {
    display: block;
    text-align: left;
}

.buttons {
    height: 230px;
}

.buttons > form > button {
    display: block;
    width: 100%;
    padding: 7%;
    margin-bottom: 5%;
    color: #fff;
    background: transparent;
    border: 2px solid #d8921a;
}

section > header > h4 {
    color: #d8921a;
    padding-bottom: 3%;
}

.about > ul > li > a, .friends > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.about li, .friends li, .learning p {
    margin: 4% 0;
}

.friends {
    width: 12%;
}

.learning {
    width: 18%;
}

.learning p {
    color: #fff;
}

.learning button {
    background: #234465;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: left;
    margin: 2% 1%;
    padding: 0;
    border: 1px solid #A9A9A9;
}
.learning .twitterBtn{
    background: #234465 url("twitterJPG.JPG") no-repeat center;
}
.learning .fbBtn{
    background: #234465 url("facebook.JPG") no-repeat center;
}
.learning .gplusBtn{
    background: #234465 url("gplus.JPG") no-repeat center;
}

.fb {
    width: 240px;
    height: 215px;
    background: #e2e2e2;
    padding: 0;
    overflow: hidden;
}

